/* Definições globais dos SVGs */
.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  color: inherit; /*  Inherit the color from the parent element */
  transition: color 0.2s ease;
}
